<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Animal info page</p>
    <h1><%= animal[0].name %></h1>
    <h1><%= animal[0].height %></h1>
    <h1><%= animal[0].attack %></h1>
    <h1><%= animal[0].special_ability %></h1>
    <a href="/animals/edit/<%=animal[0].id %>">Edit this Animal</a>

  </body>
</html>
