<h1>Secrets</h1>
<p>Find me in app/views/secrets/index.html.erb</p>
<a href="/users/<%=@user.id%>">Go to User Page!</a>
<h2>Hello, <%=@user.name%></h2>
<form class="" action="/secrets/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="content" placeholder="post a comment..">
  <input type="submit" name="" value="Add Comment!">
</form>


<% @secrets.each do |secret| %>
    <h3><%=secret.content%></h3>
    <h4><%=secret.likes.count%> Likes</h4>
    <% if secret.user== current_user%>
          <form class="" action="/secrets/<%=secret.id%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" name="" value="Delete!">
          </form>
    <%end%>
    <% unless secret.users.include?(current_user)%>
          <form class="" action="secrets/likes/<%=secret.id%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="like[secret_id]" value="<%= secret.id%>">
            <input type="submit" name="like" value="Like!">
          </form>
    <%else%>
        <form class="" action="secrets/likes/<%=Like.where(user:current_user, secret: secret).first.id%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" name="unlike" value="Unlike">
        </form>
    <%end%>
<%end%>
