<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<a href="/secrets">Home</a>
<h2>Hello, <%=@user.name%></h2>


<h2>Registration</h2>
<form  action="/users/<%=@user.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">
    name: <input type="text" name="name" value="<%=@user.name%>">
    Email: <input type="text" name="email" value="<%=@user.email%>">
    <br>
    <input type="submit" name="" value="Update User!">

</form>
